<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.shopmate">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--Camera permission-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--File reading permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopMate">
        <activity android:name=".ui.DashBoard.MapnSite.MapView"/>
        <activity android:name=".ui.DashBoard.List.NewList"/>
        <activity android:name=".ui.DashBoard.List.OpenList"/>
        <activity android:name=".ui.DashBoard.List.ListMenu"/>
        <activity android:name=".ui.DashBoard.MapnSite.SiteKitVIew"/>
        <activity android:name=".ui.DashBoard.MapnSite.MapnSiteScreen"/>
        <activity android:name=".ui.DashBoard.Scan.ScanScreen"/>
        <activity android:name=".ui.LogIn.LogInScreen"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>